

<%= form_with(model: author) do |form| %>
<% if author.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

  <ul>
    <% author.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="card">
  <br/>
  <h5 class="card-header">Author</h5>
  <div class="card-body">
    <h5 class="card-title">First name:</h5>
    <p class="card-text"><%= form.text_field :first_name %></p>
    <h5 class="card-title">Last name:</h5>
    <p class="card-text"><%= form.text_field :last_name %></p>
    <h5 class="card-title">Date of birth:</h5>
    <p class="card-text"><%= form.date_field :dob %></p>
    <h5 class="card-title">Book id:</h5>
      <%= form.collection_select(:book_ids, Book.all, :id, :title,{:"data-style" => "chosen-select", :"data-size" => "5"}, {class: "selectpicker", title: "Choose Book(s)", multiple: true})%>




    <%= form.submit :class=>"btn btn-primary"%>
  </div>
</div>
<% end %>

<script>
  $('select').selectpicker();



</script>
